.dolar{
    background-color: white;
    border:none
}


.error{
    color:pink;
}

.input-correcto:focus{
    background: greenyellow;
    border:2px solid green
}

.input-correcto{
    border:5px solid green
}

.input-incorrecto{
    border:5px solid palevioletred;
}

.input-incorrecto:focus{
    background:lightpink;
    border:2px solid darkpink;
}
